* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.align {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

/* Primary Button */

.primary-btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #30b868;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease;
}
.primary-btn:hover {
  background-color: #038566;
  transform: scale(0.97);
}
.primary-btn:active {
  color: red;
  background-color: #038566;
  transform: scale(0.97);
}

/* Another Button */

.trns-btn {
  margin-left: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.trns-btn:hover {
  background-color: #038566;
  transform: scale(0.97);
}

/* Nav Section  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  padding: 16px 0;
}
.nav-link {
  list-style: none;
  display: flex;
}
.nav-link li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  padding: 12px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.nav-link li a:hover {
  background-color: lightgray;
}

/* Hero Section */

.banner {
  padding: 116px 415px 180px;
  color: #fff;
  text-align: center;
  background: url(./assets/hero-bg.png) center / cover no-repeat;
  min-height: 674px;
}
.banner h1 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 16px;
}
.banner p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}
.banner span {
  color: #30b868;
}

/* Notes Section */

.notes-section {
  margin-top: 80px;
  text-align: center;
}
.notes-section .head h2 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.notes-section .head p {
  color: #627382;
  font-size: 16px;
  margin-bottom: 60px;
}

/* Notes Section Cards */

.notes-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.notes-cards .card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
}
.notes-cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  max-width: 322px;
  min-height: 300px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 120px;
  transition: 0.3s;
}
.notes-cards .card:hover {
  background-color: rgba(211, 211, 211, 0.429);
}
.notes-cards .card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  text-align: center;
}
.notes-cards .card p {
  color: #627382;
  font-size: 16px;
  margin-bottom: 44px;
  text-align: center;
}

/* Brain Section */

.brain {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}
.brain .image {
  max-width: 600px;
  min-height: 600px;
}
.brain-content {
  padding-right: 190px;
}
.brain-content h4 {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  margin-bottom: 16px;
}
.brain-content h3 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
.brain-content p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.brain-content ul li {
  display: inline-flex;
  gap: 5px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #001931;
  margin-bottom: 16px;
}

/* Think Section */

.think-section {
  margin-top: 200px;
  margin-bottom: 120px;
  text-align: center;
  background-color: #f7f6f2;
  border-radius: 12px;
  padding: 80px 300px;
}
.think-section h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.think-section p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 24px;
}
.think-section > .primary-btn {
  display: inline-flex;
  gap: 5px;
  margin-bottom: 16px;
}
.think-section > .primary-btn:hover {
  gap: 15px;
  transform: scale(1);
}

/* Footer Section */

.footer {
  width: 100%;
  padding: 120px 0 40px;
  color: #fff;
  background-color: #001931;
}
.footer-content {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}
.footer-content .links h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.links a i {
  color: gray;
}
.links a {
  color: gray;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 3px;
  margin-right: 12px;
}
.footer .copyright {
  color: #fafafa;
  font-size: 16px;
  margin-top: 110px;
  text-align: center;
}
