* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.assign {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

/* Primary Button */

.primary-btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #30b868;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.15s;
}
.primary-btn:hover {
  background-color: #038566;
  transform: scale(0.97);
}

/* Nav Section  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  padding: 16px 0;
}
.nav-link {
  list-style: none;
  display: flex;
}
.nav-link li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  padding: 12px 16px;
  border-radius: 5px;
  transition: 0.3s;
}
.nav-link li a:hover {
  background-color: lightgray;
}

/* Banner Section */

.banner {
  padding: 116px 415px 180px;
  color: #fff;
  text-align: center;
  background: url(./assets/hero-bg.png);
  height: 674px;
}
.banner h1 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 16px;
}
.banner p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}
.banner span {
  color: #30b868;
}
.banner .trns-btn {
  margin-left: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.banner .trns-btn:hover {
  background-color: #038566;
  transform: scale(0.97);
}
